
.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(185, 41%, 84%);
}

.logo {
  margin: auto;
  margin-top: 4%;
  width: 70px;
  height: 70px;
  background-image: url(images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 52vh;
  margin: auto;
  margin-top: 2%;
  background-color: white;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3%;
}

.calc-inputs {
  height: 100%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bill-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-family: monospace;
  font-weight: 700;
  font-size: 16px;
  color: hsl(183, 100%, 15%);
}

input[name="bill"] {
  background-color: hsl(189, 41%, 97%);
  width: 85%;
  height: 10px;
  border-radius: 5px;
  border: none;
  font-family: monospace;
  font-weight: 700;
  font-size: 24px;
  padding: 5%;
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 15px;
  text-align: right;
  color: hsl(183, 100%, 15%);
}

input[name="people"] {
  background-color: hsl(189, 41%, 97%);
  width: 85%;
  height: 10px;
  border-radius: 5px;
  border: none;
  font-family: monospace;
  font-weight: 700;
  font-size: 24px;
  padding: 5%;
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 15px;
  text-align: right;
  color: hsl(183, 100%, 15%);
}

.custom-tip-input {
  background-color: hsl(189, 41%, 97%) !important;
  border: none;
  font-family: monospace;
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: hsl(183, 100%, 15%) !important;
}

.tips-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 7px;
  row-gap: 7px;
}

.tip-v {
  width: 90px;
  height: 40px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border-radius: 5px;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
}

.tip-v.selected {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.select-tip {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tip-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 6%;
  margin-top: 20px;
}

.tip-amount-value {
  font-size: 37px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}

* {
  font-family: monospace;
}

.calc-outputs {
  height: 100%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  padding: 6%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tip-info {
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

input[name="custom"]::-webkit-input-placeholder {
  text-align: center;
}

input::-moz-focus-inner input::-moz-focus-outer {
  background: red;
}

input[name="custom"]:focus {
  border: 2px solid red(172, 67%, 45%);
  box-sizing: border-box;
}

input[name="bill"]:focus,
input[name="people"]:focus {
  border: 2px solid red(172, 67%, 45%);
  box-sizing: border-box;
  height: 40px;
  width: 287px;
  background-position: 13px;
}

.heading-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  color: white;
}

.h-text-1 {
  font-size: 11px;
  font-weight: 700;
}

.h-text-2 {
  font-size: 9px;
}

.total {
  display: flex;
  align-items: center;
}

.reset {
  width: 100%;
  background-color: hsl(172, 67%, 45%);
  border-radius: 7px;
  justify-self: flex-end;
  align-self: flex-end;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  cursor: pointer;
}

.reset:hover {
  background-color: hsl(185, 41%, 84%);
}

.reset.inactive:hover {
  background-color: hsl(185, 41%, 84%);
  background-color: hsl(172, 67%, 45%);
  cursor: auto;
}

.reset.inactive {
  opacity: 0.2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  border: 2px solid red;
}

.people-m {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-m {
  color: red;
}